/* line 26, ../sass/utilities/_mixins.scss */
h1::after, h2::after {
  content: "";
  border-top: 2px solid;
  width: 2em;
  display: block;
  margin: .2em auto;
}

@media (min-width: 768px) {
  /* line 5, ../sass/base/_base.scss */
  h1 {
    font-size: 6em;
  }
}

/* line 11, ../sass/base/_base.scss */
a, u {
  text-decoration: none;
}

/* line 1, ../sass/layout/_header.scss */
#headerwrap {
  background-color: rgba(41, 41, 43, 0.9) !important;
}
/* line 5, ../sass/layout/_header.scss */
#headerwrap #main-nav a {
  font-size: 1.2em;
}
/* line 9, ../sass/layout/_header.scss */
#headerwrap .header-on-scroll #main-nav a {
  font-size: 1em;
}
/* line 13, ../sass/layout/_header.scss */
#headerwrap #menu-icon {
  color: white;
}
/* line 17, ../sass/layout/_header.scss */
#headerwrap #mobile-menu {
  background-color: #1F1F1F;
  -webkit-box-shadow: 0px 6px 29px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 29px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 29px 0px rgba(0, 0, 0, 0.75);
}
/* line 22, ../sass/layout/_header.scss */
#headerwrap #menu-icon-close {
  color: #fff !important;
}
/* line 27, ../sass/layout/_header.scss */
#headerwrap #site-logo {
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
/* line 32, ../sass/layout/_header.scss */
#headerwrap #main-nav .menu-item a {
  color: white !important;
}
/* line 36, ../sass/layout/_header.scss */
#headerwrap #main-nav ul {
  background: transparent;
  border: 1px solid #fef;
}

/* line 1, ../sass/layout/_footer.scss */
#footerwrap {
  margin-top: -3%;
  overflow-x: auto;
  overflow-y: hidden;
  tab-size: 4;
  width: 100%;
  left: 0;
  position: relative;
  max-width: 100vw;
  -webkit-clip-path: polygon(0 3vw, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 3vw, 100% 0, 100% 100%, 0 100%);
}
/* line 13, ../sass/layout/_footer.scss */
#footerwrap .footer-block .footer-text-outer {
  border-top: none !important;
}
/* line 17, ../sass/layout/_footer.scss */
#footerwrap .footer-column-wrap {
  padding-top: 6.5em;
}

@media (min-width: 768px) {
  /* line 1, ../sass/layout/_containers.scss */
  .home-banner {
    background: url("../themify-shoppe-child/images/bannigrinMobile.png") no-repeat center bottom;
  }
}

/* line 9, ../sass/layout/_containers.scss */
.shadow-dark img {
  -webkit-box-shadow: 0px 6px 29px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 29px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 29px 0px rgba(0, 0, 0, 0.75);
}
/* line 11, ../sass/layout/_containers.scss */
.shadow-dark img:hover {
  -webkit-box-shadow: 0px 6px 29px 0px rgba(140, 140, 140, 0.5);
  -moz-box-shadow: 0px 6px 29px 0px rgba(140, 140, 140, 0.5);
  box-shadow: 0px 6px 29px 0px rgba(140, 140, 140, 0.5);
  transform: scale(1.01);
}

/* line 21, ../sass/layout/_containers.scss */
.floating-div .row_inner {
  padding: 4em 0 4em 0;
}
@media (min-width: 768px) {
  /* line 21, ../sass/layout/_containers.scss */
  .floating-div .row_inner {
    padding: 0 4em 0 4em;
  }
}
/* line 29, ../sass/layout/_containers.scss */
.floating-div .tb-column-inner {
  margin: auto;
}
/* line 33, ../sass/layout/_containers.scss */
.floating-div .image-2551-sub_row_1-0-0-1-0 img {
  margin: auto;
  display: block;
}
@media (max-width: 575px) {
  /* line 38, ../sass/layout/_containers.scss */
  .floating-div .subrow_inner {
    padding: 4em;
  }
}
@media (min-width: 576px) {
  /* line 38, ../sass/layout/_containers.scss */
  .floating-div .subrow_inner {
    padding: 4em;
  }
}
@media (min-width: 768px) {
  /* line 38, ../sass/layout/_containers.scss */
  .floating-div .subrow_inner {
    padding: 2em;
  }
}
/* line 52, ../sass/layout/_containers.scss */
.floating-div .module_subrow {
  -webkit-box-shadow: 0px 6px 29px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 29px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 29px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  z-index: 10;
}
@media (min-width: 768px) {
  /* line 52, ../sass/layout/_containers.scss */
  .floating-div .module_subrow {
    top: -200px;
  }
}

/* line 65, ../sass/layout/_containers.scss */
.lessons-div h1 {
  padding-top: 1em;
  padding-bottom: 1em;
}
@media (min-width: 768px) {
  /* line 65, ../sass/layout/_containers.scss */
  .lessons-div h1 {
    padding-top: 0;
  }
}
/* line 73, ../sass/layout/_containers.scss */
.lessons-div .lesson {
  margin-top: 5em;
  margin-bottom: 5em;
}
@media (min-width: 768px) {
  /* line 73, ../sass/layout/_containers.scss */
  .lessons-div .lesson {
    margin-top: 0;
    margin-bottom: 0;
  }
}
/* line 82, ../sass/layout/_containers.scss */
.lessons-div .beginner::before, .lessons-div .intermediate::before, .lessons-div .advanced::before {
  position: absolute;
  left: 0;
  right: 0;
  top: -75px;
  z-index: 11;
}
/* line 91, ../sass/layout/_containers.scss */
.lessons-div .beginner::before {
  content: url("../../../uploads/2018/01/beginnerSticks.svg");
}
/* line 98, ../sass/layout/_containers.scss */
.lessons-div .intermediate::before {
  content: url("../../../uploads/2018/01/intermediateSticks.svg");
}
/* line 105, ../sass/layout/_containers.scss */
.lessons-div .advanced::before {
  content: url("../../../uploads/2018/01/advancedSticks.svg");
}

/* line 116, ../sass/layout/_containers.scss */
.follow-ryan::before {
  content: url("../../../uploads/2018/01/greySticks.svg");
  position: absolute;
  left: 0;
  right: 0;
  top: -80px;
}

/* line 126, ../sass/layout/_containers.scss */
.right-up-slant {
  overflow-x: auto;
  overflow-y: hidden;
  tab-size: 4;
  width: 100%;
  left: 0;
  position: relative;
  max-width: 100vw;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 3vw), 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 3vw), 0 100%);
}

/* line 133, ../sass/layout/_containers.scss */
.slant {
  overflow-x: auto;
  overflow-y: hidden;
  tab-size: 4;
  width: 100%;
  left: 0;
  position: relative;
  max-width: 100vw;
  -webkit-clip-path: polygon(0 3vw, 100% 0, 100% calc(100% - 3vw), 0 100%);
  clip-path: polygon(0 3vw, 100% 0, 100% calc(100% - 3vw), 0 100%);
}

/* line 3, ../sass/components/_audio.scss */
.module-audio .album-playlist .tracklist .track {
  border-bottom: none !important;
}
/* line 7, ../sass/components/_audio.scss */
.module-audio .module-audio .tracklist .track-title {
  position: relative !important;
  color: white !important;
}

/* line 1, ../sass/plugins/slider-div/_slider-div.scss */
.admin-bar #slider,
.admin-bar #close_slider {
  margin-top: 30px !important;
}

/* line 6, ../sass/plugins/slider-div/_slider-div.scss */
#slider {
  display: none;
  position: fixed;
  top: 0;
  right: -40%;
  background: rgba(34, 32, 32, 0.98);
  padding: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  z-index: 9999;
}
/* line 18, ../sass/plugins/slider-div/_slider-div.scss */
#slider .woocommerce .col2-set .col-1, #slider #slider .woocommerce-page .col2-set .col-1 {
  width: 100%;
  float: none;
}
/* line 23, ../sass/plugins/slider-div/_slider-div.scss */
#slider section {
  width: 100%;
  display: none;
}
/* line 28, ../sass/plugins/slider-div/_slider-div.scss */
#slider section:first-of-type {
  margin-top: 0px;
  position: fixed;
  display: block !important;
  background: #222020;
  z-index: 1;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
  top: 0;
  height: 50px;
  margin-left: -15px;
  padding: 10px 40px;
}

/* line 1, ../sass/plugins/slider-div/_form.scss */
#slider {
  /* ///////////////////////////////
  Primary styles for the input boxes
  ////////////////////////////////*/
  /* ///////////////////////////////
  Animate the placeholders on focus
  ////////////////////////////////*/
}
/* line 26, ../sass/utilities/_mixins.scss */
#slider h3::after {
  content: "";
  border-top: 2px solid;
  width: 2em;
  display: block;
  margin: .2em auto;
}
/* line 7, ../sass/plugins/slider-div/_form.scss */
#slider .fa-times-circle {
  color: white;
}
/* line 11, ../sass/plugins/slider-div/_form.scss */
#slider label {
  color: white;
}
/* line 15, ../sass/plugins/slider-div/_form.scss */
#slider #nf-field-9-wrap label:first-child {
  font-size: 1.5em;
  text-align: center;
}
/* line 26, ../sass/utilities/_mixins.scss */
#slider #nf-field-9-wrap label:first-child::after {
  content: "";
  border-top: 2px solid;
  width: 2em;
  display: block;
  margin: .2em auto;
}
/* line 21, ../sass/plugins/slider-div/_form.scss */
#slider .ninja-forms-req-symbol, #slider .nf-form-fields-required {
  display: none;
}
/* line 25, ../sass/plugins/slider-div/_form.scss */
#slider #nf-form-title-2 h3 {
  text-align: center;
  color: white;
  font-size: 4em;
}
/* line 31, ../sass/plugins/slider-div/_form.scss */
#slider section#ninja_forms_widget-2 {
  position: absolute;
  top: 15%;
  left: 10%;
  width: 87%;
}
@media (min-width: 768px) {
  /* line 31, ../sass/plugins/slider-div/_form.scss */
  #slider section#ninja_forms_widget-2 {
    width: 82%;
  }
}
/* line 48, ../sass/plugins/slider-div/_form.scss */
#slider input,
#slider textarea {
  font-size: 2.8vw;
  border-bottom: solid 1px white !important;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) !important;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) !important;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #A89078 4%) !important;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #a89078 4%) !important;
  background-position: -400px 0 !important;
  background-size: 400px 100% !important;
  background-repeat: no-repeat !important;
  color: white !important;
  font-weight: 200;
  border: none;
}
@media (min-width: 768px) {
  /* line 48, ../sass/plugins/slider-div/_form.scss */
  #slider input,
  #slider textarea {
    font-size: 12px;
  }
}
/* line 69, ../sass/plugins/slider-div/_form.scss */
#slider input:focus, #slider textarea:focus {
  box-shadow: none !important;
  outline: none !important;
  background-position: 0 0 !important;
}
/* line 79, ../sass/plugins/slider-div/_form.scss */
#slider input[type=text]:focus::-webkit-input-placeholder,
#slider input[type=email]:focus::-webkit-input-placeholder,
#slider textarea:focus::-webkit-input-placeholder {
  font-size: 11px !important;
  -webkit-transform: translateY(-10px) !important;
  transform: translateY(-10px) !important;
  visibility: visible !important;
  color: white !important;
}
/* line 89, ../sass/plugins/slider-div/_form.scss */
#slider input[type=text]::-webkit-input-placeholder,
#slider input[type=email]::-webkit-input-placeholder,
#slider textarea::-webkit-input-placeholder {
  font-family: 'roboto', sans-serif;
  -webkit-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
  color: white !important;
}
/* line 98, ../sass/plugins/slider-div/_form.scss */
#slider .form-row:focus {
  background: white !important;
}
/* line 102, ../sass/plugins/slider-div/_form.scss */
#slider textarea {
  min-height: 20px;
  height: 35px;
}
