/* line 26, ../sass/utilities/_mixins.scss */
h1::after, h2::after {
  content: "";
  border-top: 2px solid;
  width: 2em;
  display: block;
  margin: .2em auto;
}

@media (min-width: 768px) {
  /* line 5, ../sass/base/_base.scss */
  h1 {
    font-size: 6em;
  }
}

/* line 11, ../sass/base/_base.scss */
a, u {
  text-decoration: none;
}

/* line 3, ../sass/layout/_header.scss */
#headerwrap.fixed-header {
  background-color: rgba(41, 41, 43, 0.9) !important;
}
/* line 7, ../sass/layout/_header.scss */
#headerwrap #main-nav a {
  font-size: 1.2em;
}
/* line 11, ../sass/layout/_header.scss */
#headerwrap .header-on-scroll #main-nav a {
  font-size: 1em;
}
/* line 15, ../sass/layout/_header.scss */
#headerwrap .current_page_item > a {
  color: #9b9b9b !important;
}
/* line 19, ../sass/layout/_header.scss */
#headerwrap #menu-icon {
  color: white;
}
/* line 23, ../sass/layout/_header.scss */
#headerwrap #mobile-menu {
  background-color: #1F1F1F;
  -webkit-box-shadow: 0px 6px 29px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 29px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 29px 0px rgba(0, 0, 0, 0.75);
}
/* line 28, ../sass/layout/_header.scss */
#headerwrap #menu-icon-close {
  color: #fff !important;
}
/* line 32, ../sass/layout/_header.scss */
#headerwrap #menu-item-3101 a {
  border: solid 1px #ebebeb;
  color: #ebebeb;
  background: transparent;
  border-radius: 5px;
  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  padding: .3em 2em;
}
/* line 85, ../sass/utilities/_mixins.scss */
#headerwrap #menu-item-3101 a:hover {
  background-color: #fff;
  color: #0b0b0b !important;
  transform: scale(1.1);
  -webkit-box-shadow: 0px 6px 29px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 29px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 29px 0px rgba(0, 0, 0, 0.75);
}
/* line 38, ../sass/layout/_header.scss */
#headerwrap #site-logo {
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
/* line 43, ../sass/layout/_header.scss */
#headerwrap #main-nav .menu-item a {
  color: #fff;
}
/* line 47, ../sass/layout/_header.scss */
#headerwrap #main-nav ul {
  background: transparent;
  border: 1px solid #fef;
}

/* line 1, ../sass/layout/_footer.scss */
#footerwrap {
  margin-top: -3%;
  overflow-x: auto;
  overflow-y: hidden;
  tab-size: 4;
  width: 100%;
  left: 0;
  position: relative;
  max-width: 100vw;
  -webkit-clip-path: polygon(0 3vw, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 3vw, 100% 0, 100% 100%, 0 100%);
}
/* line 13, ../sass/layout/_footer.scss */
#footerwrap .footer-block .footer-text-outer {
  border-top: none !important;
}
/* line 17, ../sass/layout/_footer.scss */
#footerwrap .footer-column-wrap {
  padding-top: 6.5em;
}

/* line 1, ../sass/layout/_containers.scss */
.shadow-dark img,
.video-div-shadow .shadow-dark {
  -webkit-box-shadow: 0px 6px 29px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 29px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 29px 0px rgba(0, 0, 0, 0.75);
}
/* line 4, ../sass/layout/_containers.scss */
.shadow-dark img:hover,
.video-div-shadow .shadow-dark:hover {
  -webkit-box-shadow: 0px 6px 29px 0px rgba(140, 140, 140, 0.5);
  -moz-box-shadow: 0px 6px 29px 0px rgba(140, 140, 140, 0.5);
  box-shadow: 0px 6px 29px 0px rgba(140, 140, 140, 0.5);
  transform: scale(1.01);
}

/* line 12, ../sass/layout/_containers.scss */
.big-video-wrap video {
  position: absolute;
}

/* line 20, ../sass/layout/_containers.scss */
.floating-div .row_inner {
  padding: 4em 0 4em 0;
}
@media (min-width: 768px) {
  /* line 20, ../sass/layout/_containers.scss */
  .floating-div .row_inner {
    padding: 0 4em 0 4em;
  }
}
/* line 28, ../sass/layout/_containers.scss */
.floating-div .tb-column-inner {
  margin: auto;
}
/* line 32, ../sass/layout/_containers.scss */
.floating-div .image-2551-sub_row_1-0-0-1-0 img {
  margin: auto;
  display: block;
}
@media (max-width: 575px) {
  /* line 37, ../sass/layout/_containers.scss */
  .floating-div .subrow_inner {
    padding: 4em;
  }
}
@media (min-width: 576px) {
  /* line 37, ../sass/layout/_containers.scss */
  .floating-div .subrow_inner {
    padding: 4em;
  }
}
@media (min-width: 768px) {
  /* line 37, ../sass/layout/_containers.scss */
  .floating-div .subrow_inner {
    padding: 2em;
  }
}
/* line 51, ../sass/layout/_containers.scss */
.floating-div .module_subrow {
  -webkit-box-shadow: 0px 6px 29px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 29px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 29px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  z-index: 10;
}
@media (min-width: 768px) {
  /* line 51, ../sass/layout/_containers.scss */
  .floating-div .module_subrow {
    top: -200px;
  }
}

/* line 64, ../sass/layout/_containers.scss */
.lessons-div h1 {
  padding-top: 1em;
  padding-bottom: 1em;
}
@media (min-width: 768px) {
  /* line 64, ../sass/layout/_containers.scss */
  .lessons-div h1 {
    padding-top: 0;
  }
}
/* line 72, ../sass/layout/_containers.scss */
.lessons-div .lesson {
  margin-top: 5em;
  margin-bottom: 5em;
}
@media (min-width: 768px) {
  /* line 72, ../sass/layout/_containers.scss */
  .lessons-div .lesson {
    margin-top: 0;
    margin-bottom: 0;
  }
}
/* line 81, ../sass/layout/_containers.scss */
.lessons-div .beginner::before, .lessons-div .intermediate::before, .lessons-div .advanced::before {
  position: absolute;
  left: 0;
  right: 0;
  top: -75px;
  z-index: 11;
}
/* line 90, ../sass/layout/_containers.scss */
.lessons-div .beginner::before {
  content: url("../../../uploads/2018/01/beginnerSticks.svg");
}
/* line 97, ../sass/layout/_containers.scss */
.lessons-div .intermediate::before {
  content: url("../../../uploads/2018/01/intermediateSticks.svg");
}
/* line 104, ../sass/layout/_containers.scss */
.lessons-div .advanced::before {
  content: url("../../../uploads/2018/01/advancedSticks.svg");
}

/* line 115, ../sass/layout/_containers.scss */
.follow-ryan::before {
  content: url("../../../uploads/2018/01/greySticks.svg");
  position: absolute;
  left: 0;
  right: 0;
  top: -80px;
}

/* line 125, ../sass/layout/_containers.scss */
.right-up-slant {
  overflow-x: auto;
  overflow-y: hidden;
  tab-size: 4;
  width: 100%;
  left: 0;
  position: relative;
  max-width: 100vw;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 3vw), 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 3vw), 0 100%);
}

/* line 131, ../sass/layout/_containers.scss */
.top-slant {
  overflow-x: auto;
  overflow-y: hidden;
  tab-size: 4;
  width: 100%;
  left: 0;
  position: relative;
  max-width: 100vw;
  -webkit-clip-path: polygon(0 3vh, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 3vh, 100% 0, 100% 100%, 0% 100%);
}

/* line 137, ../sass/layout/_containers.scss */
.bottom-slant {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 102vh, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 102vh, 0% 100%);
}

/* line 143, ../sass/layout/_containers.scss */
.slant {
  overflow-x: auto;
  overflow-y: hidden;
  tab-size: 4;
  width: 100%;
  left: 0;
  position: relative;
  max-width: 100vw;
  -webkit-clip-path: polygon(0 3vw, 100% 0, 100% calc(100% - 3vw), 0 100%);
  clip-path: polygon(0 3vw, 100% 0, 100% calc(100% - 3vw), 0 100%);
}

/* line 2, ../sass/components/_buttons.scss */
.themify_builder_2764_row.module_row_2764-2 .tb-column-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 2, ../sass/components/_images.scss */
#image-2764-2-1-0 {
  position: relative;
  top: 10px;
}

/* line 3, ../sass/components/_audio.scss */
.module-audio .album-playlist .tracklist .track {
  border-bottom: none !important;
}
/* line 7, ../sass/components/_audio.scss */
.module-audio .tracklist .track-title {
  color: white !important;
}
/* line 11, ../sass/components/_audio.scss */
.module-audio .mejs-pause:before, .module-audio .mejs-play:before {
  color: white !important;
}

/* line 1, ../sass/plugins/slider-div/_slider-div.scss */
.admin-bar #slider,
.admin-bar #close_slider {
  margin-top: 30px !important;
}

/* line 6, ../sass/plugins/slider-div/_slider-div.scss */
#slider {
  display: none;
  position: fixed;
  top: 0;
  right: -40%;
  background: rgba(34, 32, 32, 0.98);
  padding: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  z-index: 9999;
}
/* line 18, ../sass/plugins/slider-div/_slider-div.scss */
#slider h3, #slider h4 {
  font-size: 4em;
  color: #fff;
  text-align: center;
}
/* line 26, ../sass/utilities/_mixins.scss */
#slider h3::after, #slider h4::after {
  content: "";
  border-top: 2px solid;
  width: 2em;
  display: block;
  margin: .2em auto;
}
/* line 25, ../sass/plugins/slider-div/_slider-div.scss */
#slider .woocommerce .col2-set .col-1, #slider #slider .woocommerce-page .col2-set .col-1 {
  width: 100%;
  float: none;
}
/* line 30, ../sass/plugins/slider-div/_slider-div.scss */
#slider section {
  width: 100%;
  display: none;
}
/* line 35, ../sass/plugins/slider-div/_slider-div.scss */
#slider section:first-of-type {
  margin-top: 0px;
  position: fixed;
  display: block !important;
  background: #222020;
  z-index: 1;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
  top: 0;
  height: 50px;
  margin-left: -15px;
  padding: 10px 40px;
}

/* line 1, ../sass/plugins/slider-div/_form.scss */
#slider {
  /* ///////////////////////////////
  Primary styles for the input boxes
  ////////////////////////////////*/
  /* ///////////////////////////////
  Animate the placeholders on focus
  ////////////////////////////////*/
}
/* line 3, ../sass/plugins/slider-div/_form.scss */
#slider .fa-times-circle {
  color: white;
}
/* line 7, ../sass/plugins/slider-div/_form.scss */
#slider label {
  color: white;
}
/* line 11, ../sass/plugins/slider-div/_form.scss */
#slider .widget_ninja_forms_widget {
  max-width: 400px !important;
}
/* line 15, ../sass/plugins/slider-div/_form.scss */
#slider #nf-field-9-wrap {
  width: 100%;
  margin: 0 auto;
}
/* line 19, ../sass/plugins/slider-div/_form.scss */
#slider #nf-field-9-wrap .nf-field-label:first-child {
  font-size: 1.5em;
  margin: 1em auto;
  color: white;
}
/* line 26, ../sass/utilities/_mixins.scss */
#slider #nf-field-9-wrap .nf-field-label:first-child::after {
  content: "";
  border-top: 2px solid;
  width: 2em;
  display: block;
  margin: .2em auto;
}
/* line 26, ../sass/plugins/slider-div/_form.scss */
#slider #nf-field-9-wrap .nf-field-element {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 33, ../sass/plugins/slider-div/_form.scss */
#slider .container {
  margin: 0 auto;
}
/* line 37, ../sass/plugins/slider-div/_form.scss */
#slider .ninja-forms-req-symbol, #slider .nf-form-fields-required {
  display: none;
}
/* line 41, ../sass/plugins/slider-div/_form.scss */
#slider section#ninja_forms_widget-2 {
  position: relative;
  top: 7%;
  margin: 0 auto;
  width: 87%;
}
@media (min-width: 768px) {
  /* line 41, ../sass/plugins/slider-div/_form.scss */
  #slider section#ninja_forms_widget-2 {
    width: 82%;
  }
}
/* line 58, ../sass/plugins/slider-div/_form.scss */
#slider input[type]:not([type=checkbox]):not([type=button]),
#slider textarea {
  font-size: 1.5em;
  border-bottom: solid 1px white !important;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) !important;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) !important;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%) !important;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #ffffff 4%) !important;
  background-position: -400px 0 !important;
  background-size: 400px 100% !important;
  background-repeat: no-repeat !important;
  color: white !important;
  font-weight: 200;
  border: none;
}
/* line 85, ../sass/plugins/slider-div/_form.scss */
#slider input[type=text]:focus::-webkit-input-placeholder,
#slider input[type=email]:focus::-webkit-input-placeholder,
#slider textarea:focus::-webkit-input-placeholder {
  font-size: 11px !important;
  -webkit-transform: translateY(-10px) !important;
  transform: translateY(-10px) !important;
  visibility: visible !important;
  color: white !important;
}
/* line 95, ../sass/plugins/slider-div/_form.scss */
#slider input[type=text]::-webkit-input-placeholder,
#slider input[type=email]::-webkit-input-placeholder,
#slider textarea::-webkit-input-placeholder {
  font-family: 'roboto', sans-serif;
  -webkit-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
  color: white !important;
}
/* line 104, ../sass/plugins/slider-div/_form.scss */
#slider .form-row:focus {
  background: white !important;
}
/* line 108, ../sass/plugins/slider-div/_form.scss */
#slider textarea {
  min-height: 20px;
  height: 35px;
  padding-bottom: 4em;
}
/* line 114, ../sass/plugins/slider-div/_form.scss */
#slider .send .nf-field-element {
  text-align: center;
}
/* line 117, ../sass/plugins/slider-div/_form.scss */
#slider .send .nf-field-element input {
  font-size: 1em;
  padding: 1em 3em;
  border: solid 1px #ebebeb;
  color: #ebebeb;
  background: transparent;
  border-radius: 5px;
  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
}
/* line 85, ../sass/utilities/_mixins.scss */
#slider .send .nf-field-element input:hover {
  background-color: #fff;
  color: #0b0b0b !important;
  transform: scale(1.1);
  -webkit-box-shadow: 0px 6px 29px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 29px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 29px 0px rgba(0, 0, 0, 0.75);
}

/* line 5, ../sass/plugins/slider-div/_checkbox.scss */
#slider input[type="checkbox"] {
  margin-top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}
/* line 14, ../sass/plugins/slider-div/_checkbox.scss */
#slider input[type="checkbox"]:checked {
  background: #3c3c50;
}

/* line 1, ../sass/plugins/slider-div/_about.scss */
#slider #custom_html-2 {
  position: relative;
  top: 7%;
}
/* line 5, ../sass/plugins/slider-div/_about.scss */
#slider #custom_html-2 .slide-about {
  padding: 0 3em 3em 3em;
}
/* line 9, ../sass/plugins/slider-div/_about.scss */
#slider #custom_html-2 p {
  color: #fff;
  font-size: 1.2em;
}
/* line 14, ../sass/plugins/slider-div/_about.scss */
#slider #custom_html-2 .about-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 3, ../sass/plugins/enjoy-instagram-slider/_slider.scss */
.owl-carousel .owl-wrapper {
  padding: 2em 0;
}
/* line 7, ../sass/plugins/enjoy-instagram-slider/_slider.scss */
.owl-carousel .owl-item .box img {
  -webkit-box-shadow: 0px 6px 29px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 29px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 29px 0px rgba(0, 0, 0, 0.75);
}
