.module-audio {

  .album-playlist .tracklist .track {
    border-bottom: none !important;
  }

  .tracklist .track-title {
    color: white !important;
  }

  .mejs-pause:before, .mejs-play:before {
    color: white !important;
  }

}



