.module-audio {

  .album-playlist .tracklist .track {
    border-bottom: none !important;
  }

  .module-audio .tracklist .track-title {
    position: relative !important;
    color: white !important;
  }

}



