.themify_builder_2588_row.module_row_0.module_row{background-image: url("https://themify.me/demo/themes/shoppe-music/files/2017/03/about-bg-1.jpg"); padding-top:10%; padding-bottom:10%; }
@media screen and (max-width: 716px) {.themify_builder_2588_row.module_row_0.module_row{padding-top:17%; }
}
@media screen and (max-width: 414px) {.themify_builder_2588_row.module_row_0.module_row{padding-top:22%; padding-bottom:15%; }
}
.themify_builder .text-2588-0-0-1.module-text,.themify_builder .text-2588-0-0-1.module-text h1,.themify_builder .text-2588-0-0-1.module-text h2,.themify_builder .text-2588-0-0-1.module-text h3:not(.module-title),.themify_builder .text-2588-0-0-1.module-text h4,.themify_builder .text-2588-0-0-1.module-text h5,.themify_builder .text-2588-0-0-1.module-text h6{color:#ffffff; }
.themify_builder .text-2588-0-0-1.module-text{text-align: center; }
.themify_builder .text-2588-0-0-1.module-text h1{font-size:80px; line-height:1em; margin-bottom:5px; }
.themify_builder .text-2588-0-0-1.module-text h5{font-size:18px; margin-bottom:35px; }
@media screen and (max-width: 1024px) {.themify_builder .text-2588-0-0-1.module-text h1{font-size:67px; }
}
@media screen and (max-width: 716px) {.themify_builder .text-2588-0-0-1.module-text h1{font-size:50px; }
}
@media screen and (max-width: 414px) {.themify_builder .text-2588-0-0-1.module-text h1{font-size:41px; }
}
.themify_builder .buttons-2588-0-0-2 div.module-buttons{text-align: center; }
.themify_builder .buttons-2588-0-0-2 .module-buttons .module-buttons-item a span,.themify_builder .buttons-2588-0-0-2 .module-buttons .module-buttons-item a i{text-decoration: none; }
.themify_builder_2588_row.module_row_1.module_row{padding-top:5%; padding-bottom:5%; }
.themify_builder .text-2588-1-0-1.module-text a{color:#a97ae3; text-decoration: none; }
.themify_builder .text-2588-1-0-1.module-text a:hover{color:#434789; }
.themify_builder .text-2588-1-0-1.module.module-text h2{color:#434789; }
.themify_builder .text-2588-1-0-1.module-text h2{font-size:48px; line-height:60px; }
@media screen and (max-width: 414px) {.themify_builder .text-2588-1-0-1.module-text h2{font-size:35px; line-height:50px; }
}
.themify_builder .text-2588-1-1-1.module.module-text h3:not(.module-title){color:#404040; }
.themify_builder .text-2588-1-1-1.module-text h3{font-size:30px; line-height:48px; }
.module_row_2 .module_column_0.tb_2588_column.module_column{background-image: url("https://themify.me/demo/themes/shoppe-music/files/2017/04/man-with-gitar-1024x725.png"); padding-top:180px; padding-bottom:180px; }
.module_row_2 .module_column_0.tb_2588_column.module_column>.builder_row_cover:before{background-color:rgba(69,36,168, 0.61); }
.module_row_2 .module_column_1.tb_2588_column.module_column{background-color:#434789; padding-top:0%; padding-right:5%; padding-bottom:0%; padding-left:5%; }
.themify_builder .text-2588-2-1-1.module-text,.themify_builder .text-2588-2-1-1.module-text h1,.themify_builder .text-2588-2-1-1.module-text h2,.themify_builder .text-2588-2-1-1.module-text h3:not(.module-title),.themify_builder .text-2588-2-1-1.module-text h4,.themify_builder .text-2588-2-1-1.module-text h5,.themify_builder .text-2588-2-1-1.module-text h6{color:#ffffff; }
.themify_builder .text-2588-2-1-1.module-text{padding-top:5%; padding-bottom:5%; }
.themify_builder .text-2588-2-1-1.module-text h2{font-size:48px; line-height:60px; }
@media screen and (max-width: 414px) {.themify_builder .text-2588-2-1-1.module-text h2{font-size:38px; line-height:50px; }
}
.themify_builder_2588_row.module_row_3.module_row{padding-top:4%; padding-bottom:3%; }
.themify_builder .text-2588-3-0-1.module-text{text-align: center; margin-bottom:20px; }
.themify_builder .text-2588-3-0-1.module.module-text h2{color:#434789; }
.themify_builder .text-2588-3-0-1.module-text h2{font-size:48px; line-height:60px; }
@media screen and (max-width: 414px) {.themify_builder .text-2588-3-0-1.module-text h2{font-size:38px; line-height:50px; }
}
.sub_column_post_2588.sub_column_3-0-2-0.module_column{padding-top:20px; padding-right:0px; padding-bottom:20px; padding-left:28px; }
@media screen and (max-width: 716px) {.sub_column_post_2588.sub_column_3-0-2-0.module_column{padding-top:20px; padding-right:15px; padding-bottom:20px; padding-left:15px; }
}
@media screen and (max-width: 414px) {.sub_column_post_2588.sub_column_3-0-2-0.module_column{padding-top:20px; padding-right:15px; padding-bottom:20px; padding-left:10px; }
}
.themify_builder .text-2588-sub_row_3-0-2-0-0.module-text{padding-left:10px; }
.themify_builder .text-2588-sub_row_3-0-2-0-0.module.module-text h2{color:#434789; }
.themify_builder .text-2588-sub_row_3-0-2-0-0.module-text h2{font-size:36px; margin-top:20px; margin-bottom:10px; }
@media screen and (max-width: 414px) {.themify_builder .text-2588-sub_row_3-0-2-0-0.module-text{padding-top:0px; padding-right:0px; padding-bottom:0px; padding-left:5px; }
.themify_builder .text-2588-sub_row_3-0-2-0-0.module-text h2{font-size:34px; }
}
.themify_builder_2588_row.module_row_4.module_row{padding-bottom:3%; }
.themify_builder .buttons-2588-4-0-2 div.module-buttons{text-align: center; padding-top:30px; padding-bottom:20px; }
.themify_builder_2588_row.module_row_5.module_row{padding-top:4%; padding-bottom:4%; }
.themify_builder .text-2588-5-0-1.module-text{text-align: center; padding-bottom:2%; }
.themify_builder .text-2588-5-0-1.module.module-text h2{color:#434789; }
.themify_builder .text-2588-5-0-1.module-text h2{font-size:48px; line-height:60px; }
.themify_builder .buttons-2588-5-0-3 div.module-buttons{text-align: center; margin-top:25px; margin-bottom:20px; }
