/* .themify_builder_2551_row.module_row_0 Style */
.themify_builder_2551_row.module_row_0.module_row {
	
	background-color: rgba(71,71,71, 1.00);
	padding-top : 20%;
	padding-bottom : 20%
}
.themify_builder_2551_row.module_row_0 a {
	text-decoration: underline
}
.themify_builder_2551_row.module_row_0.module_row>.builder_row_cover {
	background:linear-gradient( 180deg, rgba(0, 0, 0, 0.35) 0%, rgba(255, 255, 255, 0.07) 98% )
}
.themify_builder_2551_row.module_row_0.module_row> div > .builder_row_cover {
	background:linear-gradient( 180deg, rgba(0, 0, 0, 0.35) 0%, rgba(255, 255, 255, 0.07) 98% )
}

@media screen and (max-width: 1024px) {/* .themify_builder_2551_row.module_row_0 Style */
.themify_builder_2551_row.module_row_0.module_row {
	padding-top : 7%
}

}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 716px) {/* .themify_builder_2551_row.module_row_0 Style */
.themify_builder_2551_row.module_row_0.module_row {
	padding-top : 9%
}

}
@media screen and (max-width: 414px) {
}
@media screen and (max-width: 414px) {/* .themify_builder_2551_row.module_row_0 Style */
.themify_builder_2551_row.module_row_0.module_row {
	padding-top : 20%
}

}
.themify_builder .text-2551-0-0-0.module-text { color: #ffffff; font-size: 2em; text-align: center;  } 
.themify_builder .text-2551-0-0-0.module-text h1 { color: #ffffff;  } 
.themify_builder .text-2551-0-0-0.module-text h2 { color: #ffffff;  } 
.themify_builder .text-2551-0-0-0.module-text h3:not(.module-title) { color: #ffffff;  } 
.themify_builder .text-2551-0-0-0.module-text h4 { color: #ffffff;  } 
.themify_builder .text-2551-0-0-0.module-text h5 { color: #ffffff;  } 
.themify_builder .text-2551-0-0-0.module-text h6 { color: #ffffff;  } 
.themify_builder .text-2551-0-0-2.module-text { color: #c2c2c2; text-align: center;  } 
.themify_builder .text-2551-0-0-2.module-text h1 { color: #c2c2c2;  } 
.themify_builder .text-2551-0-0-2.module-text h2 { color: #c2c2c2;  } 
.themify_builder .text-2551-0-0-2.module-text h3:not(.module-title) { color: #c2c2c2;  } 
.themify_builder .text-2551-0-0-2.module-text h4 { color: #c2c2c2;  } 
.themify_builder .text-2551-0-0-2.module-text h5 { color: #c2c2c2;  } 
.themify_builder .text-2551-0-0-2.module-text h6 { color: #c2c2c2;  } 
.themify_builder .text-2551-0-0-2.module-text a { text-decoration: underline;  } 
.themify_builder .text-2551-0-0-3.module-text { color: #ffffff; text-align: center;  } 
.themify_builder .text-2551-0-0-3.module-text h1 { color: #ffffff;  } 
.themify_builder .text-2551-0-0-3.module-text h2 { color: #ffffff;  } 
.themify_builder .text-2551-0-0-3.module-text h3:not(.module-title) { color: #ffffff;  } 
.themify_builder .text-2551-0-0-3.module-text h4 { color: #ffffff;  } 
.themify_builder .text-2551-0-0-3.module-text h5 { color: #ffffff;  } 
.themify_builder .text-2551-0-0-3.module-text h6 { color: #ffffff;  } 
.themify_builder .text-2551-0-0-4.module-text { color: #c2c2c2; font-size: .6em; text-align: center;  } 
.themify_builder .text-2551-0-0-4.module-text h1 { color: #c2c2c2;  } 
.themify_builder .text-2551-0-0-4.module-text h2 { color: #c2c2c2;  } 
.themify_builder .text-2551-0-0-4.module-text h3:not(.module-title) { color: #c2c2c2;  } 
.themify_builder .text-2551-0-0-4.module-text h4 { color: #c2c2c2;  } 
.themify_builder .text-2551-0-0-4.module-text h5 { color: #c2c2c2;  } 
.themify_builder .text-2551-0-0-4.module-text h6 { color: #c2c2c2;  } 
/* .themify_builder_2551_row.module_row_1 Style */
.themify_builder_2551_row.module_row_1.module_row {
	background-image: url(http://localhost/bannigrin/wp-content/uploads/2017/07/bannigrinBackground-1-997x1024.png);
	margin-top : 5%;
	margin-bottom : 5%
}

/* .module_row_1 .module_column_0 .sub_row_1-0-0 Style */
.module_row_1 .module_column_0 .sub_row_1-0-0.module_subrow {
	
	background-color: rgba(255,255,255, 1.00);
	margin-top : 5%
}

/* .sub_column_post_2551.sub_column_1-0-0-0 Style */
.sub_column_post_2551.sub_column_1-0-0-0.sub_column {
	padding-top : 20px;
	padding-bottom : 20px;
	padding-left : 28px
}

@media screen and (max-width: 716px) {/* .sub_column_post_2551.sub_column_1-0-0-0 Style */
.sub_column_post_2551.sub_column_1-0-0-0.sub_column {
	padding-top : 20px;
	padding-right : 15px;
	padding-bottom : 20px;
	padding-left : 15px
}

}
@media screen and (max-width: 414px) {/* .sub_column_post_2551.sub_column_1-0-0-0 Style */
.sub_column_post_2551.sub_column_1-0-0-0.sub_column {
	padding-top : 20px;
	padding-right : 15px;
	padding-bottom : 20px;
	padding-left : 10px
}

}
.themify_builder .text-2551-sub_row_1-0-0-0-0.module-text { padding-left: 10px;  } 
.themify_builder .text-2551-sub_row_1-0-0-0-0.module.module-text h2 { color: #434789; font-size: 36px; margin-top: 20px; margin-bottom: 10px;  } 
@media screen and (max-width: 414px) {.themify_builder .text-2551-sub_row_1-0-0-0-0.module-text { padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 5px;  } 
.themify_builder .text-2551-sub_row_1-0-0-0-0.module.module-text h2 { font-size: 34px;  } 
}
.themify_builder .text-2551-sub_row_1-0-0-0-1.module-text { font-size: 1.2em;  } 
.themify_builder .buttons-2551-sub_row_1-0-0-0-2 div.module-buttons { text-align: center;  } 
.themify_builder .buttons-2551-sub_row_1-0-0-0-2.module.module-buttons { margin-top: 15%;  } 
.themify_builder .buttons-2551-sub_row_1-0-0-0-2 .module-buttons .module-buttons-item a span { text-decoration: underline;  } 
.themify_builder .buttons-2551-sub_row_1-0-0-0-2 .module-buttons .module-buttons-item a i { text-decoration: underline;  } 
/* .module_row_1 .module_column_0 .sub_row_1-0-1 Style */
.module_row_1 .module_column_0 .sub_row_1-0-1.module_subrow {
	
	background-color: rgba(255,255,255, 1.00);
	margin-top : 5%;
	margin-bottom : 5%
}

/* .sub_column_post_2551.sub_column_1-0-1-0 Style */
.sub_column_post_2551.sub_column_1-0-1-0.sub_column {
	padding-top : 20px;
	padding-bottom : 20px;
	padding-left : 28px
}

@media screen and (max-width: 716px) {/* .sub_column_post_2551.sub_column_1-0-1-0 Style */
.sub_column_post_2551.sub_column_1-0-1-0.sub_column {
	padding-top : 20px;
	padding-right : 15px;
	padding-bottom : 20px;
	padding-left : 15px
}

}
@media screen and (max-width: 414px) {/* .sub_column_post_2551.sub_column_1-0-1-0 Style */
.sub_column_post_2551.sub_column_1-0-1-0.sub_column {
	padding-top : 20px;
	padding-right : 15px;
	padding-bottom : 20px;
	padding-left : 10px
}

}
.themify_builder .text-2551-sub_row_1-0-1-1-0.module-text { padding-left: 10px;  } 
.themify_builder .text-2551-sub_row_1-0-1-1-0.module.module-text h2 { color: #434789; font-size: 36px; margin-top: 20px; margin-bottom: 10px;  } 
@media screen and (max-width: 414px) {.themify_builder .text-2551-sub_row_1-0-1-1-0.module-text { padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 5px;  } 
.themify_builder .text-2551-sub_row_1-0-1-1-0.module.module-text h2 { font-size: 34px;  } 
}
/* .themify_builder_2551_row.module_row_2 Style */
.themify_builder_2551_row.module_row_2.module_row {
	background-image: url(http://localhost/bannigrin/wp-content/uploads/2017/07/close-up-drum.png);
	padding-top : 7%;
	padding-bottom : 7%
}
.themify_builder_2551_row.module_row_2 a {
	text-decoration: underline
}
.themify_builder_2551_row.module_row_2.module_row>.builder_row_cover {
	background:linear-gradient( 180deg, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0.08) 100% )
}
.themify_builder_2551_row.module_row_2.module_row> div > .builder_row_cover {
	background:linear-gradient( 180deg, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0.08) 100% )
}

@media screen and (max-width: 414px) {/* .themify_builder_2551_row.module_row_2 Style */
.themify_builder_2551_row.module_row_2.module_row {
	padding-top : 50px;
	padding-bottom : 50px
}

}
.themify_builder .slider-2551-2-0-0.module-slider a { text-decoration: underline;  } 
