#headerwrap {

  &.fixed-header {
    background-color: rgba(41, 41, 43, .9) !important;
  }

  #main-nav a{
    font-size: 1.2em;
  }

  .header-on-scroll #main-nav a {
    font-size: 1em;
  }

  .current_page_item > a {
    color: #9b9b9b !important;
  }

  #menu-icon {
    color: white;
  }

  #mobile-menu {
    background-color: #1F1F1F;
    @include shadow-dark;
  }

  #menu-icon-close {
    color: #fff !important;
  }

  #menu-item-3101 a { // Contact button
    @include sexy-button;
    padding: .3em 2em;
  }

  // Grayson styles start
  #site-logo {
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
  }

  #main-nav .menu-item a {
    color: #fff;
  }

  #main-nav ul {
    background: transparent;
    border: 1px solid #fef;
  }
  // Grayson styles end

}
